<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Now Courtz</name>
    <description>Sport Courts Booking App</description>
    <author email="eestrada9744@conestogac.on.ca and bbroeckel3963@conestogac.on.ca" href="http://spy.com">
      Samuel Estrada and Brittany Rogers 
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="splash.png"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
        <preference name="SplashScreenDelay" value="1000"/>
    </platform>
    <icon src="icon.png" />
</widget>
