<div class="container-fluid mt-5">
  <div class="container">

    <div class="container">
      <div class="card">
        <div class="card-header text-center bg-success-subtle">
          <h1 class="text-center" >Now Courtz</h1>
        </div>
          <div class="card-body">

  <h3 class="text-center mb-3">Get your Game On</h3>
            <h3 class="text-center mb-3">Book with Now Courtz!</h3>

  <p>Now Courtz online booking system lets you easily reserve your time on the court with just a few clicks.
    The system is available 24/7 so you can always find a time slot that works best for you!</p>
  <p>Finding a place to play basketball, volleyball, pickleball, or other court sports can be tough especially if you want to play on the weekends.
    If you do find a court, it can be crowded and you have to wait for your turn to play.
    Book your court with Now Courtz and get your game on.</p>
</div>
        <div class="card-footer bg-success-subtle">

      </div>
    </div>
  </div>
</div>
</div>
