<div class="container-fluid">
  <h1>Now Courtz</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsum iusto labore. Et exercitationem, nisi
    perferendis quam quasi reiciendis tenetur.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ducimus iste minima minus nihil nisi pariatur,
    possimus provident, quo quod ratione temporibus, tenetur vitae! Commodi dolores doloribus dolorum officiis
    quam!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio iusto magni molestiae, mollitia natus
    neque, nihil perspiciatis possimus praesentium, quam quibusdam quo recusandae repellat.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio iusto magni molestiae, mollitia natus
    neque, nihil perspiciatis possimus praesentium, quam quibusdam quo recusandae repellat.</p>
</div>
