<link rel="stylesheet" href="../../../styles.css">
<div class="container-fluid mt-5">
  <div class="container">
    <div class="container">
      <div class="card">
        <div class="card-header text-center bg-dark">
          <h2 style="color:white">{{title}}</h2>
        </div>
        <div class="card-body">
          <h4 style="color:steelblue">Your Information</h4>
          <form #bookForm="ngForm">
            <div class="mb-3">
              <div class="row">
                <div class="col">

                  <input type="text" class="form-control" placeholder="First name" aria-label="txtFirstName" id="txtFirstName" name="txtFirstName"
                         [(ngModel)]="booking.firstName" #firstName="ngModel"
                         required [minlength] = "MIN_LENGTH">
                  @if (firstName.invalid && (firstName.touched || firstName.dirty)){
                    @if(firstName.errors?.['required']){
                      <small class="text-danger">Your First name is required</small><br>
                    }
                    @if (firstName.errors?. ['minlength']){
                      <small class="text-danger">Your First name must be at least {{MIN_LENGTH}} characters long</small><br>
                    }
                  }
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="txtLastName" id="txtLastName" name="txtLastName"
                         [(ngModel)]="booking.lastName" #lastName="ngModel"
                         required [minlength] = "MIN_LENGTH"/>
                  @if (lastName.invalid && (firstName.touched || lastName.dirty)){
                    @if(lastName.errors?.['required']){
                      <small class="text-danger">Your Last name is required</small><br>
                    }
                    @if (lastName.errors?. ['minlength']){
                      <small class="text-danger">Your Last name must be at least {{MIN_LENGTH}} characters long</small><br>
                    }
                  }
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="mb-2" for="txtEmail"></label>
              <input id="txtEmail" type="text" class="form-control" placeholder="Email address" name="txtEmail" [(ngModel)]="booking.email" #email="ngModel"
                     required pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}[\s]{0,1}$"/>
              @if (email.invalid && (email.touched || email.dirty)){
                @if(email.errors?.['required']){
                  <small class="text-danger">Your email address is required</small><br>
                }
                @if(email.errors?.['pattern']){
                  <small class="text-danger">Invalid email address format</small><br>
                }
              }
            </div>
            <div class="mb-3">
              <label class="mb-2" for="txtPhoneNumber"></label>
              <input id="txtPhoneNumber" type="text" class="form-control" placeholder="Phone number" name="txtPhoneNumber" [(ngModel)]="booking.phoneNumber" #phoneNumber="ngModel"
                     required pattern="^[0-9]{3}[-\s]{0,1}[0-9]{3}[-\s]{0,1}[0-9]{4}$"/>
              @if (phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)){
                @if(phoneNumber.errors?.['required']){
                  <small class="text-danger">Your phone number is required</small><br>
                }
                @if(phoneNumber.errors?.['pattern']){
                  <small class="text-danger">Invalid phone number format</small><br>
                }
              }
            </div>
            <div class="mt-5 d-flex justify-content-center">
              <button type="submit" [disabled]="bookForm.invalid" id="btnBook" class="btn btn-success btn-md"
                      (click)="onBookClick(); bookForm.reset()" style="width: 300px;">Create Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
