<div class="container-fluid mt-5" xmlns="http://www.w3.org/1999/html">
  <div class="container ">
    <div class="container">
      <div class="card">
        <div class="card-header text-center bg-dark">
          <h2 style="color:white">{{title}}</h2>
        </div>
        <div class="card-body">
          <h4 style="color:steelblue">Your Information</h4>
          <form #bookForm="ngForm">
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="txtFirstName" id="txtFirstName" name="txtFirstName"
                         [(ngModel)]="booking.firstName" #firstName="ngModel"
                         required [minlength] = "MIN_LENGTH"/>
                  @if (firstName.invalid && (firstName.touched || firstName.dirty)){
                    @if(firstName.errors?.['required']){
                      <small class="text-danger">Your First name is required</small><br>
                    }
                    @if (firstName.errors?. ['minlength']){
                      <small class="text-danger">Your First name must be at least {{MIN_LENGTH}} characters long</small><br>
                    }
                  }
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name" aria-label="txtLastName" id="txtLastName" name="txtLastName"
                         [(ngModel)]="booking.lastName" #lastName="ngModel"
                         required [minlength] = "MIN_LENGTH"/>
                  @if (lastName.invalid && (firstName.touched || lastName.dirty)){
                    @if(lastName.errors?.['required']){
                      <small class="text-danger">Your Last name is required</small><br>
                    }
                    @if (lastName.errors?. ['minlength']){
                      <small class="text-danger">Your Last name must be at least {{MIN_LENGTH}} characters long</small><br>
                    }
                  }
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="mb-2" for="txtEmail"></label>
              <input id="txtEmail" type="text" class="form-control" placeholder="Email address" name="txtEmail" [(ngModel)]="booking.email" #email="ngModel"
                     required [minlength] = "MIN_LENGTH"/>
              @if (email.invalid && (email.touched || email.dirty)){
                @if(email.errors?.['required']){
                  <small class="text-danger">Your email address is required</small><br>
                }
              }
            </div>
            <div class="mb-3">
              <label class="mb-2" for="txtPhoneNumber"></label>
              <input id="txtPhoneNumber" type="text" class="form-control" placeholder="Phone number" name="txtPhoneNumber" [(ngModel)]="booking.phoneNumber" #phoneNumber="ngModel"
                     required [minlength] = "MIN_LENGTH"/>
              @if (phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)){
                @if(phoneNumber.errors?.['required']){
                  <small class="text-danger">Your phone number is required</small><br>
                }
              }
            </div>
            <h4 style="color:steelblue">Date & Time Slot</h4>

            <div class="mb-3">
              <label class="mb-2" for="txtTimeSlot"></label>
              <input id="txtTimeSlot" type="text" class="form-control" name="txtTimeSlot" [(ngModel)]="booking.timeSlot" #timeSlot="ngModel"
                     required [minlength] = "MIN_LENGTH"/>
              @if (timeSlot.invalid && (timeSlot.touched || timeSlot.dirty)){
                @if(timeSlot.errors?.['required']){
                  <small class="text-danger">Picking a time slot is required</small><br>
                }
              }
            </div>

            <h4 style="color:steelblue">Court Type</h4>

            <div class="mb-3">
              <label for="cmbCourtType" class="form-label"></label>
              <select id="cmbCourtType" name="cmbCourtType" class="form-select"
                      [(ngModel)]="booking.courtType"
                      #courtType="ngModel"
                      required
              >
                @for(item of courtTypes; track item){
                  <option [value]="item">{{item}}</option>
                }

              </select>
              @if (courtType.invalid && (courtType.touched || courtType.dirty)) {
                @if (courtType.errors?.['required']) {
                  <small class="text-danger">Court Type is required..What sport do you want to play?</small>
                }
              }
            </div>

<!--            <div class="mt-3">-->
<!--              <input type="checkbox" class="btn-check" id="btnBasketball" autocomplete="off">-->
<!--              <label class="btn btn-primary" for="btnBasketball">Basketball</label>-->
<!--              <span style="margin-left: 8px;"></span>-->
<!--              <input type="checkbox" class="btn-check" id="btnVolleyball" autocomplete="off">-->
<!--              <label class ="btn btn-primary" for="btnVolleyball">Volleyball</label>-->
<!--              <span style="margin-left: 8px;"></span>-->
<!--              <input type="checkbox" class="btn-check" id="btnDodgeball" autocomplete="off">-->
<!--              <label class="btn btn-primary" for="btnDodgeball">Dodgeball</label>-->
<!--              <span style="margin-left: 8px;"></span>-->
<!--              <input type="checkbox" class="btn-check" id="btnTennis" autocomplete="off">-->
<!--              <label class="btn btn-primary" for="btnTennis">Tennis</label>-->
<!--            </div>-->

            <div class="mt-5 d-flex justify-content-center">
              <button type="button" id="btnBook" class="btn btn-success btn-md" (click)="onBookClick(); bookForm.reset()" style="width: 300px;">Book</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

