<div class="container-fluid mt-5">
  <div class="container ">
    <div class="container">
<div class="card">
  <div class="card-header text-center bg-dark">
    <h2 style="color:white">{{title}}</h2>
  </div>
  <div class="card-body">
    <h4 style="color:steelblue">Your Information</h4>
    <form #bookForm="ngForm">
        <div class="mb-3">
          <label class="mb-2" for="txtFullName">Full Name</label>
          <input id="txtFullName" type="text" class="form-control" name="txtFullName" [(ngModel)]="booking.fullName" #fullName="ngModel"
                 required [minlength] = "MIN_LENGTH"/>
          @if (fullName.invalid && (fullName.touched || fullName.dirty)){
            @if(fullName.errors?.['required']){
              <small class="text-danger">Your Name is required</small><br>
            }
            @if (fullName.errors?. ['minlength']){
              <small class="text-danger">Your Name must be at least {{MIN_LENGTH}} characters long</small><br>
            }
          }
        </div>
      <div class="mb-3">
        <label class="mb-2" for="txtEmail">Email Address</label>
        <input id="txtEmail" type="text" class="form-control" name="txtEmail" [(ngModel)]="booking.email" #email="ngModel"
               required [minlength] = "MIN_LENGTH"/>
        @if (email.invalid && (email.touched || email.dirty)){
          @if(email.errors?.['required']){
            <small class="text-danger">Your email address is required</small><br>
          }
        }
      </div>
      <div class="mb-3">
        <label class="mb-2" for="txtPhoneNumber">Phone</label>
        <input id="txtPhoneNumber" type="text" class="form-control" name="txtPhoneNumber" [(ngModel)]="booking.phoneNumber" #phoneNumber="ngModel"
               required [minlength] = "MIN_LENGTH"/>
        @if (phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)){
          @if(phoneNumber.errors?.['required']){
            <small class="text-danger">Your phone number is required</small><br>
          }
        }
      </div>
      <h4 style="color:steelblue">Date & Time</h4>
      <div class="mb-3">
        <label class="mb-2" for="txtTimeSlot">Time Slot</label>
        <input id="txtTimeSlot" type="text" class="form-control" name="txtTimeSlot" [(ngModel)]="booking.timeSlot" #timeSlot="ngModel"
               required [minlength] = "MIN_LENGTH"/>
        @if (timeSlot.invalid && (timeSlot.touched || timeSlot.dirty)){
          @if(timeSlot.errors?.['required']){
            <small class="text-danger">Picking a time slot is required</small><br>
          }
        }
      </div>

      <h4 style="color:steelblue">Sport</h4>


    </form>

</div>
</div>
  </div>
</div>
</div>
