<div class="container-fluid mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Book a Court</h2>
    </div>
    <div class="card-body">
      <form #bookForm = "ngForm">
        <div class="mb-3">
          //Start of booking
          <label for="txtFullName">Full Name</label>
          <input id="txtFullName" type="text" class="form-control"
                 name="txtFullName"
          />
          <!--                 [(ngModel)]="book.title"-->
          <!--                 #title="ngModel">-->
        </div>

      </form>

    </div>
  </div>
</div>
