<!--/**
* Programming Mobile Apps
* Final Project Now Courtz App
* Created By: Brittany Rogers and Samuel Estrada
* Email: bbroeckel3963@conestogac.on.ca and eestrada9744@conestogac.on.ca
* Revision History: Created Mar 28 2024
                    Comments Added/Tested: April 14 2024
*/-->

<div class="container-fluid mt-5">
  <div class="container">

    <div class="container">
      <div class="card">
        <div class="card-header text-center bg-success-subtle">
          <h1 class="text-center" >Now Courtz</h1>
        </div>
        <div class="card-body">

          <h3 class="text-center mb-3">Developed By</h3>
          <h3 class="text-center mb-3">Brittany Rogers and Samuel Estrada</h3>

        </div>
        <div class="card-footer bg-success-subtle">

        </div>
      </div>
    </div>
  </div>
</div>
