<div class="m-4">
  <div class="card">
    <div class="card-header text-center bg-dark">
      <h2 style="color:white">Now Courtz Profiles</h2>
    </div>
    <div class="card-body">
      <!--Populating selected profile information on the view page and then can edit or delete a profile by id-->
      @for (profile of profiles;track $index) {
        <div class="list-group">
          <a class="list-group-item list-group-item-action mb-2">
            <div class="d-flex w-100 justify-content-between">
              <img *ngIf ="profile.profileImage" [src]="profile.profileImage" width="70px" height="70px" alt="Profile Image" class="img rounded-circle">
               <div><h4 class="mb-1">{{ profile.firstName}} {{profile.lastName}}</h4></div>
            </div>
            <div class="mt-3"> <small><button type="button" id="btnEdit" class="btn btn-primary btn-sm me-3"
                                              (click)="onEditClick(profile)">Edit Profile</button>
              <button type="button" id="btnDelete" class="btn btn-danger btn-sm me-4"
                      (click)="onDeleteClick(profile)">Delete</button></small></div>
          </a>
        </div>
      }
      @empty
      {
        <h4>No Profiles in the System.</h4>
      }
    </div>
  </div>
</div>
